*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dark{
    background-color: #09081b;
}
.box-3d{
    width: 550px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: start;
    /* background-color: blue; */
    overflow: hidden;
    #d-box{
        width: 500px;
        height: 650px;
        padding-bottom: 150px;
    }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: blue; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 85, 255); 
}


